.padre {
    /* Activamos la cuadrícula GRID */
    display: grid;
    /* Definimos el tamaño de las columnas */
    grid-template-columns: 300px 100px 170px;
    /* Definimos el tamaño de las filas */
    grid-template-rows: 40px 100px;
    /* Utilizamos la unidad de medida fr */
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    /* Utilizamos REPEAT(cantidadDeRepeticiones, medida) */
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
}

#grilla {
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 1fr 75px;
    /* Podemos dejar secciones vacías con none o . */
    grid-template-areas: "nav header header" "nav productos publicidad" "nav servicios publicidad" "nav footer footer";
    /* Aplicamos espacios/márgenes/huecos(gutters) entre las celdas */
    /* Entre columnas */
    grid-column-gap: 15px;
    /* Entre filas */
    grid-row-gap: 20px;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

section#productos {
    grid-area: productos;
}

section#servicios {
    grid-area: servicios;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: publicidad;
}

#productos,
#servicios {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#productos {
    /* Modificamos la posición de los hijos desde el padre */
    /* Eje HORIZONTAL */
    /* Valores: start, end, center, stretch (por defecto) */
    justify-items: stretch;
    /* Eje VERTICAL */
    /* Valores: start, end, center, stretch (por defecto) */
    align-items: stretch;
    /* Requisito de ancho y alto para alinear los items en conjunto */
    width: 850px;
    height: 250px;
    /* Alineamos items en conjunto */
    /* Eje HORIZONTAL */
    /* Valores: start, end, center, space-between, space-around, space-evenly, stretch (por defecto) */
    justify-content: space-evenly;
    /* Eje VERTICAL */
    /* Valores: start, end, center, space-between, space-around, space-evenly, stretch (por defecto) */
    align-content: space-evenly;
}

#servicios {
    justify-items: stretch;
    align-items: stretch;
}

.item {
    /* Modificamos la posición del elemento hijo seleccionado */
    /* Eje HORIZONTAL */
    /* Valores: start, end, center, stretch (por defecto) */
    justify-self: center;
    /* Eje VERTICAL */
    /* Valores: start, end, center, stretch (por defecto) */
    align-self: center;
}