/* Bootstrap Breakpoints */


/* Pantallas de 0px hasta 575px de ancho */

@media (max-width: 575px) {}


/* Pantallas de 576px de ancho o más */

@media (min-width: 576px) {}


/* Pantallas de 768px de ancho o más */

@media (min-width: 768px) {}


/* Pantallas de 992px de ancho o más */

@media (min-width: 992px) {}


/* Pantallas de 1200px de ancho o más */

@media (min-width: 1200px) {}


/* Pantallas de 1400px de ancho o más */

@media (min-width: 1400px) {}


/**/


/* Media Queries */

body {
    background-color: #ad0302;
}

h1 {
    text-align: left;
}

@media (max-width: 575px) {
    body {
        background-color: #0E6655;
    }
    h1 {
        text-align: center;
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 868px) {
    body {
        background-color: #5B2C6F;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    body {
        background-color: #1A5276;
    }
}